*/*/.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*/*/*.pdf
*/*/*.docx
*/*/*.doc
*/*/*.txt
*/*/*.html
*/*/*.json
*/*/*.csv
*/*/*.tsv
*/*/*.xlsx
*/*/*.xls
*/*/*.xlsm
*/*/*.xlsb
*/*/*.xml
.DS_Store